<section class="relative overflow-hidden">

  <!-- green gradient overlay -->
  <div class="absolute inset-0 bg-linear-to-br from-primary to-[#4ade80]"></div>

  <!-- content -->
  <div class="relative container mx-auto px-4 py-12 sm:py-16">

    <!-- breadcrumb -->
    <nav class="flex items-center gap-2 text-sm text-white/70 mb-6 flex-wrap">
      <a routerLink="/" class="hover:text-white transition-colors">Home</a>
      <span class="text-white/40">/</span>
      <span class="text-white font-medium">Categories</span>
    </nav>

    <!-- header -->
    <div class="flex items-center gap-5">

      <!-- icon -->
      <div
        class="w-16 h-16 rounded-2xl bg-white/20 backdrop-blur-md flex items-center justify-center shadow-xl ring-1 ring-white/30"
      >
        <i class="fa-solid fa-layer-group text-white text-2xl"></i>
      </div>

      <!-- text -->
      <div>
        <h1 class="text-3xl sm:text-4xl font-bold tracking-tight text-white">
          All Categories
        </h1>

        <p class="text-white/80 mt-1">
         Browse our wide range of product categories
        </p>
      </div>

    </div>

  </div>
</section>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 my-10 ms-5">
@for (item of categoryList(); track item._id) {

  <!-- Card -->
  <a  [routerLink]="['/category-details',item._id]"
    class="group bg-white rounded-2xl border border-gray-100 p-4 sm:p-6 shadow-sm
    hover:shadow-xl hover:border-emerald-200 transition-all duration-300 hover:-translate-y-1">

    <div class="aspect-square rounded-xl overflow-hidden bg-gray-50 mb-4">
      <img
        [src]="item.image"
        [alt]="item.name"
        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500"
      />
    </div>

    <h3 class="font-bold text-gray-900 text-center group-hover:text-emerald-600 transition-colors">
      {{item.name}}
    </h3>

    <div class="flex justify-center mt-2 opacity-0 group-hover:opacity-100 transition-opacity">
      <span class="text-xs text-emerald-600 flex items-center gap-1">
        View Subcategories
        <i class="fas fa-arrow-right text-2xs"></i>
      </span>
    </div>

  </a>
}

</div>
